{% extends 'base.html' %}

{% block title %}PetApp | main{% endblock %}

{% block content %}



    <h1>Witaj na stronie Pet-Project</h1>
    <h2>Wybierz metodę logowania i rejestracji:</h2>
    <form action="/login/">
        <input type="submit" value="Użyj konta Google " />
    </form>
<!--    <a href="{% url 'login' %}">Login</a>-->
    <p></p>
    <form action="/mainapp/registration/">
        <input type="submit" value="Utwórz nowe konto" />
    </form>

    <p></p>
    <p></p>
    <form action="/mainapp/login/">
        <input type="submit" value="Zaloguj się             " />
    </form>
    <p></p>
    <form action="/mainapp/logout/">
        <input type="submit" value="Wyloguj się            " />
    </form>


<br><br><br>



{% endblock %}